<!-- <h1 class="page-header">Home Route</h1> -->
<div class="text-center">
  <h1>MustVisit</h1>
  <p class="lead">Welcome to MustVisit</p>
  <div>
    <a *ngIf="!authService.loggedIn()" routerLink="/register"><button type="button" name="button" class="myButton buttonHover float-right">Register</button></a>
    <a *ngIf="!authService.loggedIn()" routerLink="/login"><button type="button" name="button" class="myButton buttonHover float-right">Login</button></a>
    <a *ngIf="authService.loggedIn()" routerLink="/locations"><button type="button" name="button" class="myButton buttonHover float-right">View Locations</button></a>
  </div>
</div>