<h1 class="page-header"></h1>
<div class="row show-hide-message" *ngIf="message">
	<div [ngClass]="messageClass">
		{{message}}
	</div>
</div>

<a [routerLink]="['/new-location']"><button type="button" name="button" class="myButton buttonHover" >Create new location</button></a>
<input type="text" name="tag" class="myInput"/>
<button type="button" name="button" class="myButton buttonHover" (click)="addTag(this)">AddTag</button>
<div style="clear: both;"></div>

<div *ngIf="!newLocation" >

	<div *ngFor="let location of locations">
			<div id="{{ location._id }}"  (click)="onClick($event, location._id)" [ngClass]="location._id === currentId ? 'image-grid-card-expand' : 'image-grid-card'">
				<div [ngClass]="location._id === currentId ? 'image-grid-card-pic-sqaure' : 'field-content'">
					<img [src]="location.src">
				</div>
				<div *ngIf="location._id === currentId" class="image-grid-card-map-sqaure" >
					<div *ngIf="location.lat && location.lng" >
						<agm-map [style.height.px]="mapHeight" [latitude]="location.lat" [longitude]="location.lng" [disableDefaultUI]="true" [zoomControl]="false" [mapDraggable]="false" [streetViewControl]="false" [scrollwheel]="false">
						  	<agm-marker [latitude]="location.lat" [longitude]="location.lng"></agm-marker>
						</agm-map>
					</div>
				</div>
				<div style="clear: both;"></div>
				<div *ngIf="location._id === currentId" class="bodyPanel">
					<p>{{location.body}}<p>
				</div>
				<div class="tagsPanel">
					<button *ngFor="let tag of tags" type="button" name="button" class="btn btn-sm btn-info">{{tag}}</button>
				</div>
				<div *ngIf="location.createdBy !== username" class="namePanel">
					<button type="button" name="button" class="btn btn-sm btn-info">{{location.createdBy}}</button>
				</div>
				<div class="buttonsPanel" *ngIf="username === location.createdBy">
					<a [routerLink]="['/edit-location/', location._id]" *ngIf="username === location.createdBy"><button type="button" name="button" class="btn btn-sm btn-info">Edit</button></a>
					<a [routerLink]="['/delete-location/', location._id]" *ngIf="username === location.createdBy"><button type="button" name="button" class="btn btn-sm btn-danger">Delete</button></a>
				</div>
			</div>
	</div>
</div>