<a [routerLink]="['/new-location']"><button type="button" name="button" class="myButton buttonHover" >Create new location</button></a>

<app-tag-search-bar (tagEvent)="receiveTags($event)"></app-tag-search-bar>

<div *ngFor="let location of locations | tag:searchTags ">
	<div class="image-grid-card">
		<div id="{{ location._id }}"  (click)="onClick($event, location._id)">
			<div  class="field-content">
				<img [src]="location.src">
			</div>
		</div>
		<div style="clear: both;"></div>
		<div *ngIf="location.createdBy !== username" class="namePanel">
			<button type="button" name="button" class="btn btn-sm btn-info text"><img src="../../../assets/Person.png" alt="" />{{location.createdBy}}</button>
			<button type="button" name="button" class="btn btn-sm btn-info icon"><img src="../../../assets/Person.png" alt="" />{{location.createdBy}}</button>
		</div>
		<div class="buttonsPanel" *ngIf="username === location.createdBy">
			<a  [routerLink]="['/edit-location/', location._id]" *ngIf="username === location.createdBy">
				<button type="button" name="button" class="btn btn-sm btn-info text"><img src="../../../assets/Edit.png" alt="" />Edit</button>
				<button type="button" name="button" class="btn btn-sm btn-info icon"><img src="../../../assets/Edit.png" alt="" /></button>
			</a>
			<a [routerLink]="['/delete-location/', location._id]" *ngIf="username === location.createdBy">
				<button type="button" name="button" class="btn btn-sm btn-danger text"><img src="../../../assets/Delete.png" alt="" />Delete</button>
				<button type="button" name="button" class="btn btn-sm btn-danger icon"><img src="../../../assets/Delete.png" alt="" /></button>
			</a>
		</div>
	</div>
</div>