<nav class="navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="#">MustVisit</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">Expand</span>
      </button>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >
            <a class="nav-link" routerLink="/dashboard">Dashboard</a>
          </li>
          <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >
            <a class="nav-link" routerLink="/profile">Profile</a>
          </li>
          <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >
            <a class="nav-link" routerLink="/locations">locations</a>
          </li>
          <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >
            <a class="nav-link" routerLink="/register">Register</a>
          </li>
          <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >
            <a class="nav-link" routerLink="/login">LogIn</a>
          </li>
          <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >
            <a class="nav-link" (click)="onLogoutClick()">LogOut</a>
          </li>
        </ul>
      </div>
    </nav>